*::after,
*::before,
*{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --clr1: rgb(225,197,119); 
    --clr2: rgb(67,66,71); 
    --bg-clr: rgba(65,64,69);
    --bg-clr2: rgba(65,64,69,.9);
    --wh: #fff;
    
    --sh1:#f8bb1f;
    --sh2:#0C0609;
    --sh3:#480804;
    --sh4:#670d05;
    --sh5:#845014;
}
@font-face {
    font-family: cairo;
    src: url(Cairo-Regular.ttf);
}
body{
    min-height: 100vh;
    font-family: cairo;

}

/*NavBar*/
.top-nav{
    width: 100%;
    text-align: center;
    background-color: var(--sh5);
    color: var(--wh);
    font-size: 1.2rem;
}
/*nav*/
.navbar{
    width: 100%;
    height: 70px;
    background-color: var(--sh3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border-bottom: 1px solid var(--sh2);
}
.cont{
    width: 90px;
    height: 40px;
    display: grid;
    place-content: center;
    border: 1px solid var(--wh);
    position: relative;
    font-size: 1.1rem;
}
.cont a{
    color: var(--sh1);
}
.cont a:hover{
    color: var(--wh);
}
.cont a::before{
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    content: '';
}
.logo img{
    width:55px;
    aspect-ratio: 1;
    border-radius: 50%;
}
/* intro */
.intro{
    width: 100%;
    height: 35vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--sh3);
}
.intro >*{
    background-color: var(--sh4);
    box-shadow: 9px 9px 5px -3px rgba(132, 80, 20,0.47);
    /* -webkit-box-shadow: 9px 9px 5px -3px rgba(132, 80, 20,0.47); */
    /* -moz-box-shadow: 9px 9px 5px -3px rgba(132, 80, 20,0.47); */
} 
.right{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--sh1);
}
.right h1{
    font-size: 3rem;
    text-align: center;
    /* color: var(--clr1); */
}
.right p{
    font-size: 1.8rem;
    text-align: center;
    /* color: var(--clr1); */
}
.loc a{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--sh1);
    cursor: pointer;
    padding: 0 1rem;
}
.loc a:hover{
    background-color: var(--sh5);
}
.loc a p,.loc a{
    font-size: 2rem;
}
.loc a svg{
    fill: var(--wh);
    width: 25px;
}
.left{
    width: 40%;
    height: 80%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sh1);
}
.left .text{
    width: 85%;
    /* border: 1px solid black; */
    height: 40%;
    font-size: 2rem;
}
.left .text a{
    color: var(--wh);
}
/*NavBar*/
@media (max-width:500px) {
    .intro{
        overflow: hidden;
        height: 50vh;
        flex-direction: column;
        align-items: center;
    }
    .intro >*{
        box-shadow: none;
    }
.right{
    width: 100%;
    height: 45%;
}
.right h1{
    font-size: 1.5rem;
}
.right p{
    font-size: 1.3rem;
}
.loc a{
    background-color: var(--sh5);
}
.loc a:hover{
    background-color: var(--sh3);
}
.loc a p,.loc a{
    font-size: 1.2rem;
}
.left{
    width: 100%;
    height: 45%;
}
.left .text{
    width: 85%;
    /* border: 1px solid black; */
    height: 70%;
    font-size: 1.2rem;
}
}
.pagecount{
    display: none;
    z-index: -1;
}
/* main */
main{
    margin-top: 2rem;
    min-height: 100vh;
  }
  .main-grid{
    width: 65%;
    margin: 0 auto;
  
  }
  .card{
    height: 270px;
    background-color: var(--clr1);
    position: relative;
  }
  .grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
  .card a{
    position: relative;
    color: black;
  }
  .pro{
    width: 100%;
    height: 70%;
    background-color: #ccc;
    position: relative;
  }
  .card a .pro img{
    width: 100%;
    min-width: 119px;
    max-height: 240px; 
    height: 95%; 
    margin: 0 auto;
    transition: scale 200ms;
    /* object-fit: cover; */
  }
  .card a .pro img:hover{
    scale: 1.05;
  
  }
  .card a article p{
    font-size: 1.3rem;
    line-height: 23px;
    text-align: center;
  }
  .pro{
    width: 100%;
    height: 70%;
    background-color: #ccc;
    position: relative;
  }
  /*footer*/
.contact{
    margin-top: 2rem;
    min-height: 275px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg-clr);
}
.contact ul li a{
    font-size: 1.5rem;
    color: var(--clr1);
    display: flex;
    align-items: center;
}
.contact svg{
    margin-right: 5px;
    fill: var(--clr1);
    width: 1.5rem;
}
@media (max-width:1080px) {
    .navbar{
        justify-content: space-between;
        width: 100%;
        border-radius: 0;
    }
}
@media (max-width:800px) {
    .intro h1{
        font-size: 2.3rem;
    }
    .intro p{
        font-size: 1.2rem;
    }
    .loc a p{
        font-size: 1.5rem;
    }
 
}
@media (max-width:500px) {
    .intro h1{
        font-size: 1.7rem;
    }
    .intro p{
        font-size: 1.4rem;
    }
    .loc a p{
        font-size: 1.5rem;
    }
    .contact{
        margin-top: 2rem;
        padding: 1rem;
        gap: 1rem;
        flex-direction: column;
        min-height: 275px;
    }
    .main-grid{
        width: 80%;
    }
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)); 
      }
      .card a article p{
        font-size: 1.1rem;
        line-height: 23px;
      }
      .card a .pro img{
        object-fit: cover;
      }
}
@media (max-width:450px) {
    /* .main-grid{
        width: 80%;
    } */
    .grid {
        gap: 9px;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      }
}
@media (max-width:400px) {
    /* .main-grid{
        width: 80%;
    } */
    .grid {
        gap: 7px;
        grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
      }
}
@media (max-width:350px) {
    /* .main-grid{
        width: 90%;
    } */
    .grid {
        gap: 5px;
        grid-template-columns: repeat(auto-fill, minmax(107px, 1fr));
      }
}
