*::after,
*::before,
*{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --clr1: rgb(225,197,119); 
    --clr2: rgb(67,66,71); 
    --bg-clr: rgba(65,64,69);
    --bg-clr2: rgba(65,64,69,.9);
    --wh: #fff;
}
@font-face {
    font-family: cairo;
    src: url(Cairo-Regular.ttf);
}
body{
    min-height: 100vh;
    font-family: cairo;

}
.pagecount{
    display: none;
    z-index: -1;
}
.top-nav{
    width: 100%;
    text-align: center;
    background-color: var(--bg-clr);
    color: white;
    font-size: 1.2rem;
}
/*Navbar*/
.b-nav{
    width: 100%;
    background-color: var(--bg-clr2);

}
.navbar{
    width: 80vw;
    margin: 0 auto;
    height: 70px;
    border-radius: 40px;    
    background-color: var(--bg-clr);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.logo{
    order: 2;
}
.logo img{
    width:55px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.icons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.icons svg{
    fill: var(--clr1);
    width: 2.3rem;
}
/* intro */
.intro{
    width: 100%;
    height: 44vh;
    background-color: var(--clr2);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 3;

}
.intro::before{
    z-index: -1;
    content: '';
    background-image: url(store5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    opacity: .13;
}
.intro h1{
    font-size: 3rem;
    text-align: center;
    color: var(--clr1);
}
.intro p{
    font-size: 1.8rem;
    text-align: center;
    color: var(--clr1);
}
.loc a{
    display: flex;
    align-items: center;
    gap: .8rem;
    color: var(--clr1);
    cursor: pointer;
}
.loc a p{
    font-size: 2rem;
}
.loc a svg{
    fill: var(--wh);
    width: 25px;
}
/* main */
main{
    margin-top: 2rem;
    min-height: 100vh;
  }
  .main-grid{
    width: 65%;
    margin: 0 auto;
  
  }
  .card{
    height: 270px;
    background-color: var(--clr1);
    position: relative;
  }
  .grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
  .card a{
    position: relative;
    color: black;
  }
  .pro{
    width: 100%;
    height: 70%;
    background-color: #ccc;
    position: relative;
  }
  .card a .pro img{
    width: 100%;
    min-width: 119px;
    max-height: 240px; 
    height: 95%; 
    margin: 0 auto;
    transition: scale 200ms;
    /* object-fit: cover; */
  }
  .card a .pro img:hover{
    scale: 1.05;
  
  }
  .card a article p{
    font-size: 1.3rem;
    line-height: 23px;
    text-align: center;
  }
  .pro{
    width: 100%;
    height: 70%;
    background-color: #ccc;
    position: relative;
  }
  /*footer*/
.contact{
    margin-top: 2rem;
    min-height: 275px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg-clr);
}
.contact ul li a{
    font-size: 1.5rem;
    color: var(--clr1);
    display: flex;
    align-items: center;
}
.contact svg{
    margin-right: 5px;
    fill: var(--clr1);
    width: 1.5rem;
}
@media (max-width:1080px) {
    .navbar{
        justify-content: space-between;
        width: 100%;
        border-radius: 0;
    }
}
@media (max-width:800px) {
    .intro h1{
        font-size: 2.3rem;
    }
    .intro p{
        font-size: 1.2rem;
    }
    .loc a p{
        font-size: 1.5rem;
    }
 
}
@media (max-width:500px) {
    .intro h1{
        font-size: 1.7rem;
    }
    .intro p{
        font-size: 1.4rem;
    }
    .loc a p{
        font-size: 1.5rem;
    }
    .contact{
        margin-top: 2rem;
        padding: 1rem;
        gap: 1rem;
        flex-direction: column;
        min-height: 275px;
    }
    .main-grid{
        width: 80%;
    }
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)); 
      }
      .card a article p{
        font-size: 1.1rem;
        line-height: 23px;
      }
      .card a .pro img{
        object-fit: cover;
      }
}
@media (max-width:450px) {
    /* .main-grid{
        width: 80%;
    } */
    .grid {
        gap: 9px;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      }
}
@media (max-width:400px) {
    /* .main-grid{
        width: 80%;
    } */
    .grid {
        gap: 7px;
        grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
      }
}
@media (max-width:350px) {
    /* .main-grid{
        width: 90%;
    } */
    .grid {
        gap: 5px;
        grid-template-columns: repeat(auto-fill, minmax(107px, 1fr));
      }
}
